@import url("navigation.css");

/*
==============
common styling
============== 
*/

a:link {
   text-decoration: none;
}

a:hover > p {
   background-color: yellow;
   color: rgb(47, 47, 255);
   border: rgb(47, 47, 255) 1px solid;
}

body {
   background-color: yellow;
   font-family: Helvetica, Sans-Serif;
}

img {
   opacity: 15%;
}

footer{
      background-color: rgb(47, 47, 255);
      color: yellow;
   position: sticky;
   bottom: 0;
   margin-top: 8rem;
}