@import url("navigation.css");

/*
==============
common styling
============== 
*/

a:link {
   text-decoration: none;
}

a:hover > p {
   background-color: black;
   color: white;
}

body {
   background-color: darkolivegreen;
font-family: Helvetica, sans-serif;}

img {
   opacity: 15%;
}

footer{
   background-color: rgb(47, 47, 255);
   position: sticky;
   bottom: 0;
   margin-top: 8rem;
}